{% extends 'base.html' %}
{%block title%}Aman Basra{%endblock%}
{%block main%}

{%load static%}
<section class='titleSection'>
    <h1>About Me</h1>
    <p></p>
</section>
<section class='contentleft'>
    <div class='flex'>
        <p>
            I've worked in the IT industry for over 5 years, through this time I have gained experience with multiple
            systems. I've worked alongside a Education and Enterpirse clientbase to maintain and develop IT
            infrustructures. Some of the systems I have experience using include:
        </p>
        <img class='aman' src="{% static 'Assets/aman.jpeg' %}" alt='Aman' width='500px'>
    </div>
</section>
<section class='contentright'>
    <div class="flex">
    <img src="{%static "Assets/M365.svg"%}">
        <div>
            <li>Managing Windows Servers</li>
            <ul>
                <li>-AD</li>
                <li>-GPO</li>
                <li>-DHCP</li>
                <li>-DNS</li>
                <li>-MDT</li>
            </ul>
            <li>Microsoft 365 Administration</li>
            <ul>
                <li>-Managing Hybrid On-Prem/AAD Environemnts</li>
                <li>-User Administration and Sync'ing</li>
                <li>-Cloud Migrations</li>
                <li>-Azure AD</li>
                <li>-Sharepoint</li>
                <li>-Exchange</li>
                <li>-Teams</li>
                <li>-Endpoint Manager</li>
                <li>-Device Enrolment</li>
            </ul>
        </div>
        
    </div>
</section>
<section class='contentleft'>
<div class='flex'>
    <div>
        <li>Google Workspace Administration</li>
        <ul>
            <li>-User Administration</li>
            <li>-Chromebook Device Management</li>
            <li>-GCPW</li>
            <li>-Google Drive</li>
        </ul>
    </div>
    <img src="{%static "Assets/Google.svg"%}">
</div>
</section>
<section class='contentright'>
<div class='flex'>
    <img src="{%static "Assets/apple.svg"%}">
    <div>
        <li>Apple Device Management</li>
        <ul>
            <li>-Experieced with various MDMs including JAMF and Meraki</li>
            <li>-Apple School Manager</li>
            <li>-Apple Classroom</li>
            <li>-Apple Device Enrolment</li>
        </ul>
    </div>
</div>
</section>
{%endblock%}