{% extends 'base.html' %}
{%block title%}Aman Basra{%endblock%}
{%block main%}

{%load static%}
<section class='titleSection'>
    <h1>Aman Basra</h1>
    <p>A personal portfolio</p>
</section>
<section class='contentleft' style="margin-left:1.5rem;">
    <h2>Software Projects</h2>
    <p>Below are some examples of projects centered around software</p>
</section>

<section class='content'>
    <div class='flex'>
        <div>
            <h2>Django Websites</h2>
            <p>This website is one of many examples of a web app created with Django. I also have tools that take advantage 
                of APIs, incorperate SSO, custom models and complex functions. I've been able to combine my experience with 
                Python with HTML, CSS and Javascript to be able to package tools I have made for both 
                proffessional purposes and personal use. See <a href="https://github.com/AmanBasra/PersonalPortfolio">this link</a> for the repo containing the source code for this site.
            </p>
        </div>
        <img src="{%static 'Assets/Icon.png'%}" alt="" >
    </div>
</section>

<section class='content'>
    <div class='flex'>
        <div>
            <h2>Sofr</h2>
            <p>test</p>
        </div>
    </div>
</section>

<section class='content'>
    <div class='flex'>
        <div>
            <h2>Sofr</h2>
            <p>test</p>
        </div>
    </div>
</section>

<section class='content'>
    <div class='flex'>
        <div>
            <h2>Sofr</h2>
            <p>test</p>
        </div>
    </div>
</section>
{%endblock%}