{% extends 'base.html' %}
{%block title%}Aman Basra{%endblock%}
{%block main%}

{%load static%}
<section class='titleSection'>
    <h1>Aman Basra</h1>
    <p>A personal portfolio</p>
</section>
<section class='content'>
    <h2>Software Projects</h2>
    <p>Below are some examples of projects centered around software</p>
</section>

<section class='content'>
    <div class='flex'>
        <div>
            <h2>Django Websites</h2>
            <p>This website is one of many examples of a web app created with Django. I also have tools that take advantage 
                of APIs, incorperate SSO, custom models and complex functions. I've been able to combine my experience with 
                Python with HTML, CSS and Javascript to be able to package tools I have made for both 
                proffessional purposes and personal use. See <a href="https://github.com/AmanBasra/PersonalPortfolio">this link</a> for the repo containing the source code for this site.
            </p>
        </div>
        <img src="{%static 'Assets/Icon.png'%}" alt="" style='padding-top:1rem;'>
    </div>
</section>

<section class='content'>
    <div class='flex'>
    <img src="{% static 'Assets/ml.png' %}" alt="" style='margin-left:0;padding-left:0; left:0;'>
        <div>
            <h2>Machine Learning</h2>
            <p>I have worked on several machine learning using various learning types such as reinforcement learning, 
            Image classification and Natural language processing. I have used Tensorflow along with various datasets to
            train the models. As part of this I've also used a number of data processing skils.</p>
        </div>
    </div>
</section>

<section class='content'>
    <div class='flex'>
        <div>
            <h2>Toolkits</h2>
            <p>I've built mlitiple toolkits to aid me manage environments. Some of these including a tool 
            kit that utilises APIs to blik update Meraki, various tools blik Microsoft and Google environments
            all with GUI interfaces for ease of use</p>
        </div>
        <img src="{%static 'Assets/tool.png'%}" alt="Toolbox" />
    </div>
</section>

<section class='content'>
    <div class='flex'>
    <img src="{%static 'Assets/homeassistant.png'%}" alt="" >
        <div>
            <h2>Smart Home</h2>
            <p>I have combined my software and electrical skills to create various custom smart home devices. 
            Using various forms of ESP32 boards I have created equipment that can be used in conjunction with Alexa, 
            alternatively the open source software, Home Assistant. Some integrations I've created include</p>
            <li>ESP32 Camera</li>
            <li>Smart Heater</li>
            <li>Smart Lamps</li>
            <li>Smart Home Control Tablet</li>
        </div>
    </div>
</section>


<section class='content'>
    <div class='flex'>
        <div>
            <h2>Hardware Projects</h2>
            <p>Below are some of my Hardware based projects varying from electrical projects to 3d printed mechanical ones</p>
        </div>
    </div>
</section>

<section class='content'>
    <div class='flex'>
        <div>
            <h2>Model Rocket</h2>
            <p>To explore some engineering concept I built an EDF powered model rocket. This tought me some key concepts including:</p>
            <li>CAD Design</li>
            <li>PCB Design</li>
            <li>Web based control panel</li>
            <li>Control Algorithms (PID)</li>
            <li>Sensor integration</li>
            <li>Data smoothing Algorithms</li>
            <li>Use an integration of</li>
            <ul style='font-size:25px;'>
                <li>Servos</li>
                <li>Electronic Speed Controllers (ESC)</li>
                <li>Brushless Motors</li>
                <li>Servos</li>
                <li>9Dof Sensor (Gyro / Accelerometer / Magnometer)</li>
                <li>NRF24L01 Radio Modules</li>
            </ul>
        </div>
        <img src="{%static 'Assets/Rocket.png'%}" alt="" >
    </div>
</section>

<section class='content'>
    <div class='flex'>
    <img src="{%static 'Assets/ArmPic.png'%}" alt="" >
        <div>
            <h2>Robotic Arm</h2>
            <p>In order to explore implimentation of Kinomatics and Inverse Kinomatics I built a robotic arm. Some key skills learnt include:</p>
            <li>CAD Design</li>
            <li>Use of hardware including</li>
            <li>Inverse Kinomatics</li>
            <ul>
                <li>Stepper Motors</li>
                <li>Herringbone Gears</li>
            </ul>
        </div>
    </div>
</section>
{%endblock%}